.h4 {
  margin-bottom: 0;
}

.thumbnail {
  height: 90px;
  width: 95px;
  object-fit: fill;
  border-radius: 50%;
  padding: 7px;
  border-width: 10px;
  border: solid white;


}

.thumbnailselected {
  background-color: lightgreen;
}

.size {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  /* line-height: 1.5em; */
  /* padding: 0.5em 3.5em 0.5em 1em; */

  /* reset */

  margin-right: 10px;
  height: 40px;
}

.quantity {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  margin-right: 10px;
  height: 40px;
}

.addtobag {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
}

.row {
  display: flex;
  /* equal height of the children */
}

h1 {
  color: white;
  background-color: black;
}

#thumbnail {
  padding: 5px;
}

#rrtile {
  border: 2px solid #C0C0C0;
  padding: 5px;
  margin: 5px;
}

#modal {
  z-index: 1000;
  display: flex;
  position: unset;
  justify-content: space-around;
  margin: 100px;
  max-width: max-content;
  max-height: max-content;
}

#picture {
  margin: auto;
  max-width: 1640px;
  max-height: 880px;
}

#reviewButtons {
  display: flex;
  justify-content: space-evenly;

}

.search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.helpfulness,
.answerer {
  font-size: 11px;

}

.oneQ {
  border: 1px black solid;
}

.partQ {
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  display: grid;

  grid-template-columns: 20px 3fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/* .partA {
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  display: grid;

  grid-template-columns: 20px 3fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
} */

.partA{
  /* background-color: lightpink; */
  display:grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
}
.symbol {
  grid-column: 1/span1;
  grid-row: 1/span1;
}
.answer{
  grid-column: 2/span1;
  grid-row: 1/span1;
}

.questBody{
  max-width: fit-content;
  align-items: center;
  justify-content: center;

  grid-column: 2/span1;
  grid-row: 1/span1;
  overflow-wrap: break-word
}

.helpfulness {
  grid-column: 3/span1;
  grid-row: 1/span1;
  word-wrap: break-word;
}

.addAns {

  grid-column: 4/span1;
  grid-row: 1/span1;
}

.photo {
  object-fit: cover;
  grid-column: 1/span4;
  grid-row: 2/span1;
}

.answerer div {
  padding:5px;
  display: inline-block;
}

.addAns button {
  font-size: 10px;
  justify-self: stretch;
}

.otherOptions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.loadQ,
.loadA,
.addQ {
  font-size: 10px;
}
.photo img{
  max-height: 70px;
  display:inline-block
}

/* .modalBackground{
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: fixed;
  justify-content: center;
  align-items: center;
} */
.modalContainer{
  width: auto;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
}

.modalContainer .title{
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  text-align: center;/*left or right*/
  /* margin-top: 10px; */
}
.titleCloseBtn{
  display: flex;
  justify-content: flex-end;/*items are packed toward the end of flex directon*/
}
.titleCloseBtn button{
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.modalContainer .body{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  flex-direction: column;
}

.modalContainer .footer{
  font-size: 10px;
  flex:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button,
.body label button{
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
#cancelBtn{
  background-color: red;
}
label,input{
  font-size: 20px;
}