
.h4 {
  margin-bottom: 0;
}

.thumbnail {
  height: 90px;
  width: 95px;
  object-fit:fill;
  border-radius: 50%;
  padding: 7px;
  border-width: 10px;
  border: solid white;


}

.thumbnailselected {
  background-color: lightgreen;
}

.size {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  /* line-height: 1.5em; */
  /* padding: 0.5em 3.5em 0.5em 1em; */

  /* reset */

  margin-right: 10px;
  height: 40px;
}
.quantity {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  margin-right: 10px;
  height: 40px;
}

.addtobag {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
}

.row {
  display: flex; /* equal height of the children */
}
.RR {
  background-color: aqua;
  margin: 20px 20px;
  padding: 20px 20px;
}
.list {
  display: flex;
  justify-content: center;
}
h1 {
  color: white;
  background-color: black;
}
#thumbnail {
  padding: 5px;
}
#rrtile {
  border: 2px solid #C0C0C0;
  padding: 5px;
  margin: 5px;
}
#modal {
  z-index: 1000;
  display: flex;
  position: unset;
  justify-content: space-around;
  margin: 100px;
  max-width: max-content;
  max-height: max-content;
}
#picture {
  margin: auto;
  max-width: 1640px;
  max-height: 880px;
}
#reviewButtons {
  display: flex;
  justify-content: space-evenly;
}
#response {
  background-color: grey;
  border: 2px;
  border-color: black;
}
